/* コンテナー */
.com-container {
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
  }
  
  /* スライダーのwrapper */
  .infinite-slider .swiper-wrapper {
    transition-timing-function: linear;
  }
  
  /* スライド */
  .infinite-slider .swiper-slide {
    height: 320px !important; /* 高さを指定 */
    width: auto !important;
  }
  
  /* スライド内の画像 */
  .infinite-slider .swiper-slide img {
    width: auto;
    height: 100%;
  }